body{
    background-color: gray;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    
}

article {
    max-width: 100%;
    max-height: 100%;
}

div {
    flex-basis: 350px;
}

a {
    color: #551A8B;
}

.img {
    max-width: 100%;
    max-height: 100%;
   
}

@media all and (max-width: 830px) {
    section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
        
    }
    body{
        background-color: rgb(204, 204, 204);
    }
}
    
@media all and (max-width: 570px) {
    section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
        
    }
    body{
        background-color: white;
    }
}

@media all and (max-width: 400px) {
    section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 160%;    
    }
}